
.container2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;

}


.con-text1  {
    font-size: 20px;
    color: black;
    font-size: 30px;
}
.btn-con2 {
    padding: 20px;
    color: #fff;
    background: rgb(12, 104, 99);
    transition: background-color 0.3s linear;

}
.btn-con2:hover {
background-color: black;
}
@media only screen and (max-width: 700px) {
   
.container2 {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;

}
.con-text1  {
    color: black;
    font-size: 20px;
}
.con-text2  {
    color: black;
    font-size: 10px;
}
.btn-con2 {
    padding: 10px;
    color: #fff;
    background: rgb(12, 104, 99);
    font-size: 10px;
    transition: background-color 0.3s linear;
    transition: color 0.3s linear;

}
.btn-con2:hover {
background-color: wheat;
color: black;
}
}




@media only screen and (max-width: 500px) {
   
    .container2 {
        display: inline;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        background: white;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    .con-text1  {
        color: black;
        font-size: 14px;
    }
    .con-text2  {
        color: black;
        font-size: 10px;
    }
    .btn-con2 {
        padding: 10px;
        color: #fff;
        background: rgb(12, 104, 99);
        font-size: 10px;
        transition: background-color 0.3s linear;
        transition: color 0.3s linear;
    
    }
    .btn-con22{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    }


    @media only screen and (max-width: 300px) {
   
        .container2 {
            display: block;
            align-items: center;
            justify-content: space-evenly;
            background: white;
            margin-top: 50px;
            margin-bottom: 50px;
        
        }
        .con-text1  {
            color: black;
            font-size: 12px;
        }
        .con-text2  {
            color: black;
            font-size: 7px;
        }
        .btn-con2 {
            padding: 10px;
            color: #fff;
            background: rgb(12, 104, 99);
            font-size: 7px;
            transition: background-color 0.3s linear;
            transition: color 0.3s linear;
        
        }
        .btn-con2:hover {
        background-color: wheat;
        color: black;
        }
        }
        
        
