footer{
    display: flex;
    justify-content: space-evenly;
    background: rgb(0, 60, 138);
    padding: 20px;
}
.tit1 {
    color: white;
    transition: color 0.3s linear;
    cursor: pointer;


}
.tit1:hover{
 color: rgb(5, 93, 209);;
}
.tit2 {
    color: white;
    transition: color 0.3s linear;
    cursor: pointer;


}
.tit2:hover{
 color: rgb(5, 93, 209);;
}
.tit22 {
    text-decoration: underline;
    color: rgb(96, 165, 255);;
}
.h11 {
    color: white;
    transition: color 0.3s linear;
cursor: pointer;
}
.h11:hover {
    color: rgb(96, 165, 255);;
}
.h22 {
    color: rgb(184, 184, 184);
}












@media only screen and (max-width: 700px) {
    footer{
        display: flex;
        justify-content: space-evenly;
        background: rgb(0, 60, 138);
        padding: 15px;
    }
    .tit1 {
        font-size: 12px;
        color: white;
        transition: color 0.3s linear;
        cursor: pointer;
    }

    .tit2 {
        color: white;       
         font-size: 12px;
        transition: color 0.3s linear;
        cursor: pointer;
    }
    .h11 {
        color: #fff;
        font-size: 13px;
    }
    .tit22 {        
        font-size: 12px;
        text-decoration: underline;
        color: rgb(96, 165, 255);;
    }
    .h22 {
        font-size: 12px;
        color: rgb(184, 184, 184);
    }
    
    
    
    
    
}
@media only screen and (max-width: 500px) {
    footer{
        display: block;
        text-align: center;
        background: rgb(0, 60, 138);
        padding: 15px;
    }
    .tit1 {
        font-size: 12px;
        color: white;
        transition: color 0.3s linear;
        cursor: pointer;
    }

    .tit2 {
        color: white;       
         font-size: 12px;
        transition: color 0.3s linear;
        cursor: pointer;
    }
    .tit22 {        
        font-size: 12px;
        text-decoration: underline;
        color: rgb(96, 165, 255);;
    }
    .h11 {
        color: #fff;
        font-size: 13px;
    }
    .h22 {
        font-size: 12px;
        color: rgb(184, 184, 184);
    }
    .footer-title{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
